h1{
  background-color: red;
}
p{
  background-color: aquamarine;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: lightblue;
    
    
  }
  img {
    border-radius: 100%;
    display: center;
    height: 100px;
    width: 100px;  
    margin-top:40px;
  }
  
